.profesional-image img {
  object-fit: cover;
}

.profesional-car .p-carousel-next-icon {
  color: var(--orange-500);
}
.profesional-car .p-carousel-prev-icon {
  color: var(--orange-500);
}

.profesional-car li.p-carousel-indicator.p-highlight button{
  background-color: var(--orange-500) !important;
}